.card6 {
    width: 220px;
    border: 1px solid #141414;
    border-radius: 6px;
    padding: 10px;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card6-image {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.card6-title {
    font-size: 1.3rem;
    color: #1b263b;
    margin: 6px 0 4px;
}

.card6-desc {
    font-size: 0.9rem;
    color: #343a40;
    margin-bottom: 6px;
}

.card6-rating {
    font-size: 0.9rem;
    color: #1b263b;
    margin-bottom: 6px;
}

.card6-price {
    font-size: 1rem;
    color: #1b263b;
    font-weight: bold;
}