.card5 {
    width: 220px;
    border: 2px double #457b9d;
    border-radius: 10px;
    padding: 12px;
    background-color: #a8dadc;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.card5-image {
    width: 100%;
    border: 2px solid #457b9d;
    border-radius: 4px;
}

.card5-title {
    font-size: 1.2rem;
    color: #1d3557;
    margin: 8px 0 4px;
}

.card5-desc {
    font-size: 0.9rem;
    color: #022c43;
    margin-bottom: 6px;
}

.card5-rating {
    font-size: 0.9rem;
    color: #1d3557;
    margin-bottom: 6px;
}

.card5-price {
    font-size: 1rem;
    color: #1d3557;
    font-weight: bold;
}